<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65203/IotService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="duplexendpoint" contract="ServiceReference1.IIotService"
                name="duplexendpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-IEF6PD9\BartlomiejLeja" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>